<nav>
    <a class="logo" href="/">Home</a>
    <span class="hide">|</span>
    <!-- <a href="/salvation/">{{ i18n "salvation" }}</a> -->
    <span>Salvation</span>
    <span class="hide">|</span>
    <!-- <a href="/blog/">{{ i18n "blog" }}</a> -->
    <span>Blog</span>
    <span class="hide">|</span>
    <a href="/books/">Books</a>
    <span class="hide">|</span>
    <!-- <a href="/moto/">{{ i18n "moto" }}</a> -->
    <span>Adv Moto</span>
    <span class="hide">|</span>
    <a href="/about/">About</a>
    <span class="hide">|</span>
    <a href="/index.xml">RSS</a>
    <a href="/index.xml"><img src="/rss.svg" alt="RSS Feed"  width="15"></a>
</nav>